{
	admin off
	grace_period 10s
}

http:// {
	# Empty site to ensure that global options are applied.
}

{$DOMAIN} {
	respond "Hello world!" 418
}

cp.{$DOMAIN} {
	reverse_proxy http://127.0.0.1:3923
}
